* { margin:0; padding:0; box-sizing:border-box; }
body { background: #fff; color: #000; font-family: sans-serif; }
.hero { height: 100vh; padding: 50px; background: #f4f4f4; display: flex; flex-direction: column; justify-content: flex-end; }
nav { position: absolute; top: 50px; left: 50px; font-weight: 900; letter-spacing: 5px; }
h1 { font-size: 5rem; line-height: 0.8; font-weight: 900; }
p { margin: 20px 0; letter-spacing: 10px; text-transform: uppercase; font-size: 0.8rem; }
button { width: fit-content; padding: 20px 50px; background: #000; color: #fff; border: none; font-weight: bold; cursor: pointer; }
